body {
    background-color: #222;
}

.calculator {
    background-color: #e06f6f;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 40%;
}

.display {
    background-color: #222;
    width: 220px;
    position: relative;
    left: 15px;
    top: 20px;
    height: 40px;
}

.output {
    position: relative;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    background-color: #bccd95;
    font-size: 21px;
    font-family: 'Consolas', monospace;
    text-align: right;
    width:215px;
}

.interactiveArea {
    position: relative;
    top: 30px;
}

.Operators .button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
}

.button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 32.5px;
    margin-bottom: 15px;
    cursor: pointer;
    border-top: 2px solid transparent;
}
